
*{
   padding: 0;
    margin: 0;

}
body{
  background-color:#d4b4fe ;
    
      

}
.login{
    text-align: center;
    display: block;
    background-color:#e91e63;
   border-radius: 25px;
}

.login_popup{
width: 90%;
height: 90%;
padding: 0 10px;
}
.login_popup .box{
    background-color: rgb(249, 227, 255);
    padding: 0 px;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-50% -50%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.login_popup.anyname{
    visibility: visible;
    opacity: 1;
}
.login_popup.anyname .box{
    margin-left:0; 
    opacity: 1;
}

.login_popup .box .form
{
    padding: 40px 30px;

}
.login_popup .box .form h1
{
    color: #000;
    font-size: 30px;
    margin: 0 0 30px;
    
}
.popup_input{
    height: 25px;
    margin-bottom: 35px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #cccc;
    background-color: rgb(249, 227, 255);
}

.popup_input:focus{
     outline: none;
}

label{
    font-size: 18px;
    color: #555;
}
.btn{
    width: 100%;
    background-color: #e91e63;
    margin-top: 10px;
    height: 45px;
    border-radius: 25px;
    font-size: 25px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;

}

.btn:hover{
    background-color: #da074d;
}


.close{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 30px;
    cursor: pointer;
}
.link{
    text-align: center;
    font-size: 15px;
    color: #555;
    margin: 5px;
}


.bg{
    text-align: center;
    opacity:0.8 ;
    font-size: 100;
    margin: 200px;
    mix-blend-mode: overlay;
  font-size: 300%;
  }

   
      
